.chart {
  color: var(--color-text-subdued);
  display: grid;
  font-size: 16px;
  gap: 6px;
  grid-template-columns: max-content 1fr;
  height: 100%;
  line-height: 1;
  overflow: hidden;
}

.chart > .y-axis {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
  justify-content: space-between;

  > div {
    text-align: right;
  }
}

.chart .canvas-wrapper {
  position: relative;

  > canvas {
    height: calc(100% - 16px);
    position: absolute;
    top: 8px;
    width: 100%;
  }
}