#root {
  background-color: var(--color-background1);
  color: var(--color-text);
  display: grid;
  padding: 8px;
  gap: 8px;

  > div {
    border-radius: 16px;
    background-color: var(--color-background0);
    padding: 16px;
    width: 100%;
    min-height: max-content;
    overflow: hidden;
  }

  .chart {
    min-height: 25svh;
  }

  @media (min-width: 640px) {
    @media (min-height: 640px) {
      .chart {
        min-height: unset;
      }

      @media (orientation: landscape) {
        grid-template-columns: repeat(3, 1fr);
        height: 100vh;
  
        > div {
          height: 100%;
        }
      }
      
      @media (orientation: portrait) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

.chart-card {
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr;
}
